<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Author List</h1>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <!--/*@thymesVar id="authors" type="java.util.Iterable<com.artarkatesoft.buildingspringbootwebappsection2.domain.Author>"*/-->
        <tr th:each="author : ${authors}">
            <td th:utext="${author.id}">...</td>
            <td th:utext="${author.firstName}">...</td>
            <td th:utext="${author.lastName}">...</td>
        </tr>
    </table>
</div>
</body>
</html>
